include LICENSE
include README.md
include CHANGELOG.md
include mkdocs.yml
include pyproject.toml
include setup.py
recursive-include python_src *.cpp
recursive-include docs *.md
recursive-include tests *.py
